<div class="card text-center">
     <div class="card-header">
       Welcome to My Website
     </div>
     <div class="card-body">
       <h5 class="card-title">Log in </h5>
       <p class="card-text">Click the below Button to Log In </p>
       <a href="/login" class="btn btn-primary">LOGIN to Website</a>
     </div>
   </div>
